{{- if ne .chezmoi.os "windows" -}}
# TPM (tmux plugin manager)。tmux.conf の末尾から起動する。
# プラグイン本体は TPM が ~/.config/tmux/plugins 配下へ展開するため、chezmoi の管理対象ではない。
[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"
[".tmux/plugins/tpm".pull]
    args = ["--ff-only"]
{{ end -}}
