{{- if ne .chezmoi.os "windows" -}}
# TPM (tmux plugin manager)。tmux.conf の末尾から起動する。
# 配置先は TPM 自身がプラグインを展開するディレクトリと同一である。
# 同じディレクトリに展開される他のプラグインは、chezmoi の管理対象ではない。
[".config/tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"
[".config/tmux/plugins/tpm".pull]
    args = ["--ff-only"]
{{ end -}}
